<h1>Lista de productos</h1>

<ul>
  {{#each products}}
    <li><strong>{{this.title}}</strong> - ${{this.price}}</li>
  {{/each}}
</ul>


<div>
  {{#each links}}
<a href={{this.link}}>{{this.text}}</a>
  {{/each}}
</div>
<a href="/realtimeproducts">Ir a tiempo real</a>
